.annual-events {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.annual-events .event {
  margin: 2vh 1.5vw;
  width: 30vw;
}
.annual-events .images {
  border-radius: 10px;
  overflow: hidden;
}

.annual-events .event-img {
  height: 130px;
  min-width: 14vw;
  max-width: 14vw;
  border: solid 1px #7c2ae8;
  object-fit: cover;
  padding: 0;
}
.annual-events .annual-container .event-content {
  min-height: 45vh;
}

.annual-events .event-title {
  background-color: #7c2ae8;
  color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
}
.annual-events .event-title h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.annual-events .event-content p {
  text-align: center;
}
.annual-events .btn {
  width: 200px;
  border: solid 1px gray;
  transition: 0.4s;
}
.annual-events .btn:hover {
  transform: translateY(-10%);
  box-shadow: 5px 7px 10px gray;
  border: none;
  background-color: #7c2ae8;
  color: white;
}

@media (max-width: 992px) {
  .annual-events .event {
    margin: 2vh 1.5vw;
    width: 45vw;
  }
  .annual-events .event-img {
    height: 150px;
    min-width: 20vw;
    max-width: 20vw;
  }
}
@media (max-width: 778px) {
  .annual-events .event {
    margin: 2vh 1.5vw;
    width: 95vw;
  }
  .annual-events .event-img {
    height: 25vh;
    min-width: 45vw;
    max-width: 45vw;
  }
}
