.said {
  height: 100vh;
}
.said .container {
  background-image: url(../../../../assets/img/said.png);
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
