.climate {
  padding-top: 5vh;
}
.climate .title {
  color: #8932a2;
}
.climate .row {
  display: flex;
  justify-content: space-between;
}
.climate .climate-content {
  /* width: 45vw; */
}
.climate .climate-images {
  width: 90%;
  height: 40vh;
  /* border: solid 2px #8932a2; */
}
.climate .climate-images .images {
  display: flex;
  justify-content: space-around;
}
.climate .climate-images .images .image {
  background-position: center;
  background-size: cover;
  width: 33%;
  height: 20vh;
  min-height: 20vh;
  border: solid 1px;
}
@media (max-width: 992px) {
  .climate .row {
    flex-direction: column;
  }
  .climate .climate-content {
    width: 95vw;
  }
  .climate .climate-images {
    width: 95vw;
    height: 40vh;
  }
}
