.hero {
  width: 100vw;
  height: auto;
  background: linear-gradient(to bottom, #e4d5fb, white);
}
.hero .container {
  width: 100%;
  height: 100%;
  margin-top: -2vh;
}
.hero .container .content {
  height: 90%;
  width: 85%;
}
.hero .row {
  width: 100%;
  height: 100%;
}

.hero .left-hero .container .content {
  height: 100%;
  min-height: 80vh;
  width: auto;
  margin-left: -7vw;
}
.hero .left-hero .hero-button {
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.508);
}
.hero .left-hero .hero-button:hover {
  box-shadow: 5px 7px 10px gray;
  border: none;
}
@keyframes slide-in {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(0); /* Slide to center */
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0); /* Start at center */
  }
  100% {
    transform: translateX(-100%); /* Move out to the left */
  }
}

.hero .right-hero {
  margin-right: -5vw;
  position: relative;
  overflow: hidden;
  background-position: center center; /* Centered background position */
  background-size: cover;
  /* background-image: url(../../../../assets/img/hero/hero2.jpeg); */
}
.hero .right-hero-image {
  height: 70vh;
  border-radius: 10px;
  background-position: center center; /* Centered background position */
  background-size: cover;
}
.hero .right-hero .right-hero-image.slide-in {
  animation: slide-in 0.6s ease-in-out forwards; /* Apply sliding animation */
}

.hero .right-hero .right-hero-image.slide-out {
  animation: slide-out 0.6s ease-in-out forwards; /* Apply sliding animation for exit */
}

@media (max-width: 992px) {
  .hero .right-hero {
    width: 100vw;
  }
  .hero .left-hero {
    position: absolute;
    background: linear-gradient(to top, #ffffff, #e4d5fb, #e4d5fb94);
    height: 80vh;
  }
  .hero .container {
    width: 100%;
    height: 100%;
  }
  .hero .container .content {
    height: auto;
    width: 100%;
  }
  .hero .left-hero .container .content {
    margin-left: 0;
  }
  .hero .right-hero {
    margin-right: 0;
  }
  .hero .left-hero .container .content {
    min-height: auto;
    height: auto;
  }
}
