.donate .donate-bg-image {
  background-image: url(../../assets/img/widowhood/widowhood1.jpeg);
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 100vw;
  margin-top: 14vh;
}
.donate .action-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #7c2ae8c1;
  color: white;
  text-align: center;
  margin-top: -40vh;
}
.donate .action-call h2 {
  font-weight: 400;
  font-size: 42px;
}
.donate .action-call h3 {
  font-weight: 700 !important;
  font-size: 42px;
}
.donate .action-call div {
  background-color: #7c2ae8;
  padding: 10px 20px;
  border-radius: 12px;
  width: auto;
  font-size: 22px;
}
.donate .donate-methods {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.donate .donate-method {
  margin-bottom: 3vh;
  text-align: center;
  font-weight: 800 !important;
}
.donate .donate-method h2 {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700 !important;
  margin: 0;
}
.donate .donate-method span {
  color: #7c2ae8;
  margin: 0;
}
.donate .donate-method p {
  margin: 0;
}
