.support {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background: linear-gradient(to top, white, #e4d5fb);
}

.support .support-images {
  width: 40vw;
  height: 40vh;
  border: solid 2px #8932a2;
}
.support .support-images .images {
  display: flex;
  justify-content: space-aropund;
}

.support .support-image {
  width: 40vw;
  height: 40vh;
  border: solid 1px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  .support .support-images {
    width: 100%;
    height: 40vh;
  }
}
